@{
    ViewBag.Title = "About Northwest Lab's";
}

<br />
<br />
<h2>@ViewBag.Title</h2>
<br />
<br />

<p>Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis. An assay analysis is a set of physical, 
    chemical, atomic, and biological tests that are conducted on a chemical compound or drug to determine its characteristics. These tests could include purely 
    laboratory type tests and/or biological tests on live animals. Northwest Labs markets to many different chemical and pharmaceutical companies needing 
    analysis work done on any number of different compounds and drugs. Northwest Labs is a global business with pharmaceutical labs in Singapore and corporate 
    offices located in Seattle. They have been very successful and are known by many large corporations as leaders in pharmaceutical research and testing. </p>


<p>Due to the reputation that Northwest Labs has developed in the industry, most customers are long-term, and much of the marketing to new pharmaceutical 
    entrants is done via word of mouth by existing customers. Northwest Labs is contracted by these customers to provide testing and various assays and a 
    detailed report of the tests run. The customer first provides the pharmaceutical laboratory, or pharmacology with a compound to be analyzed. The Singapore 
    Pharmacology then takes that compound and schedules and runs numerous assays. The results are returned to the headquarters in Seattle where they are analyzed 
    and final reports are created for the customer. In order to comply with regulation requirements, drug companies must have assay tests with test reports that 
    are conducted by independent pharmacology labs. Hence it is extremely important that the assay tests done by Northwest Labs are precise, well documented, 
    and reported accurately.</p>