
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<br />
<div>@Html.ActionLink("Update Billing »", "Index", "Invoices1", null, new { @class = "btn btn-outline-info" })</div>
<br />
@*<div>@Html.ActionLink("View Written Report Summary »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />*@
<div>@Html.ActionLink("View Employees »", "Index", "Employees", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("Add Employees »", "Create", "Employees", null, new { @class = "btn btn-outline-info" })</div>