
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Button Name »", "View", "Controller", null, new { @class = "btn btn-outline-info" })
@Html.ActionLink("Button Name »", "View", "Controller", null, new { @class = "btn btn-outline-info" })