
@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>

@Html.ActionLink("Billing »", "Customers", "Billing", null, new { @class = "btn btn-outline-info" })
@Html.ActionLink("Your Orders »", "Customers", "WorkOrders", null, new { @class = "btn btn-outline-info" })