@{
    ViewBag.Title = "Employee";
}
<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Employee</h2>

<div>@Html.ActionLink("Sale Respresentatives »", "SalesRep", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("Pharmacologies »", "Pharmacology", "Home", null, new { @class = "btn btn-outline-info" })</div>
