
@{
    ViewBag.Title = "Employee";
}
<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Employee</h2>

<br />
<div>@Html.ActionLink("Update Billing »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("Update Assay »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Assay Results »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Written Report Summary »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>