
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

@Html.ActionLink("Update Billing »", "Employee", "Home", null, new { @class = "btn btn-outline-info", style= "width: 200px; height=200px;" })
@Html.ActionLink("Update Assay Results»", "Employee", "Home", null, new { @class = "btn btn-outline-info" })
@Html.ActionLink("View Assay Results »", "Employee", "Home", null, new { @class = "btn btn-outline-info" })
@Html.ActionLink("Download Report Summary »", "Employee", "Home", null, new { @class = "btn btn-outline-info" })