@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

    <!-- add 3 header images in columns side-by-side  -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/Images/patient.png" class="banner-img" />
            <img src="~/Content/Images/labimage.jpg" class="banner-img" />
            <img src="~/Content/Images/microscope.jpg" class="banner-img" />
        </div>
    </div>
        <br />
        <br />


    <div class="jumbotron">
        <h1>Northwest Labs</h1>
        <p>
            Providing chemical and compound tests for companies needing in-depth assay analysis
        </p>
    </div>


    <!--Links not working but can solve this when we know what pages we would like to be directed to-->

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <button type="button" class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</button>
            <br />
            <br />
        </div>

        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <button type="button" class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</button>
            <br />
            <br />
        </div>

        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <button type="button" class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</button>
        </div>
    </div>
