@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

    <!-- add 3 header images in columns side-by-side  -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/Images/patient.png" class="banner-img" />
            <img src="~/Content/Images/labimage.jpg" class="banner-img" />
            <img src="~/Content/Images/microscope.jpg" class="banner-img" />
        </div>
    </div>
        <br />
        <br />


    <div class="jumbotron">
        <h1>Northwest Labs</h1>
        <p>
            Providing chemical and compound tests for companies needing in-depth assay analysis
        </p>
    </div>


    <!--Links not working but can solve this when we know what pages we would like to be directed to-->

    <div class="row">
        <div class="col-md-4">
            <h2>Client Workspace</h2>
            <p>
               We work with clients globally to supply our customers with 
                a very detailed report on their compound. The pharmaceutical labs test 
                the compounds thoroughly, ensuring that there are no inconsistencies or deficiencies. Results are 
                then sent back to the client. Here, Current and potential customers can access information about Northwest Labs and its structure.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Employee Workspace</h2>
            <p>Employees have the responsibility and pleasure of providing you with the best quality testing and confidence in your product.
            Here, employees update orders, invoicing, prices and quotes to ensure our clients
            have current and up-to-date information.</p>
           
        </div>

        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Need help? Visit our Contact page and email us with any questions or inquiries or call 888-178-3849. We would be happy to answer your questions and set up a meeting with you. </p>
           
        </div>
  </div>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-4">
            @Html.ActionLink("Client Workspace »", "Client", "Home", null, new { @class = "btn btn-outline-info" })
            <br />
        <br />
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            @Html.ActionLink("Employee Workspace »", "Employee", "Home", null, new { @class = "btn btn-outline-info" })
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            @Html.ActionLink("Contact Us »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })
            <br />
            <br />
        </div>
    </div>


</div>

    <div class='tableauPlaceholder' id='viz1512595709705' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='Quote Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Test_2605&#47;QuoteDashboard&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
            <param name='name' value='Test_2605&#47;QuoteDashboard' /><param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Test_2605&#47;QuoteDashboard&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
    <script type='text/javascript'>

        var divElement = document.getElementById('viz1512595709705');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '1000px';
        vizElement.style.height = '827px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

