
@{
    ViewBag.Title = "Pharmacology";
}

<h2>Pharmacolgy</h2>

<div>@Html.ActionLink("Work Order Schedule »", "WorkOrderSchedule", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("Create Assay »", "Create", "Assays", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Assay Results »", "Index", "Assays", null, new { @class = "btn btn-outline-info" })</div>