
@{
    ViewBag.Title = "Pharmacolgy";
}

<h2>Pharmacolgy</h2>

<div>@Html.ActionLink("Update Assay »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Assay Results »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>