
@{
    ViewBag.Title = "SalesRep";
}

<h2>Sales Representatives</h2>

<br />
<div>@Html.ActionLink("Current Pricing »", "CurrentPricing", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />

<div>@Html.ActionLink("Clients »", "Index", "Customers", null, new { @class = "btn btn-outline-info" })</div>